{{>layout/header}}

<div class="container mt-5">
    <button class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Cart</button>
    <button class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Sign out</button>
</div>

<br><br>

<div>
    <button type="button" class="btn btn-outline-primary waves-effect">피자</button>
    <button type="button" class="btn btn-outline-secondary waves-effect">치킨</button>
    <button type="button" class="btn btn-outline-success waves-effect">버거</button>
    <button type="button" class="btn btn-outline-info waves-effect">분식</button>
    <button type="button" class="btn btn-outline-warning waves-effect">찜,찌개</button>
</div>

<br><br>

<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">내 배달</button>
    <button type="button" class="btn btn-primary">내 정보</button>
</div>


{{>layout/footer}}