{{>layout/header}}

<div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">배달하기</button>
    <button type="button" class="btn btn-primary">배달받기</button>
</div>

{{>layout/footer}}